# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env variables (NUNCA subir)
.env

# OS files
.DS_Store
Thumbs.db

# Railway
.railway/

# Logs
logs/
*.log

# Editor / IDE
.vscode/
.idea/

# Cache
.cache/
